@model Store.Models.CustomerModel 
<h1>Login</h1>
<hr />
<div class="row">
	<div class="col-md-7">
		<form asp-controller="Login" asp-action="_LoginForm" id="login">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="CustomerEmail" class="control-label"></label>
				<input asp-for="CustomerEmail" class="form-control" />
				<span asp-validation-for="CustomerEmail" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CustomerPassword" class="control-label"></label>
				<input asp-for="CustomerPassword" class="form-control" type="password" />
				<span asp-validation-for="CustomerPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Login" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>