@using Store.Models
@{
    ViewData["Title"] = "Organic_Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="category-products">

	<h1>Organic_Products</h1>

	<div class="items-pushed items-list">

		@foreach(var item in Model)
		{
			<div class="item-popup">
				<article class="item">
					<div class="item-information">
						<a href="" class="img-container">
							<img src="@item.ProductImage" />
						</a>
						<div class="product-weight">
							<div></div>
							<div>
								<p class="product-weight">@item.ProductWeight</p>
							</div>
						</div>
						<h2>
							<a href="" class="text-styling"> @item.ProductName </a>
						</h2>
						<p class="product-exp-date"></p>
					</div>
					<div class="item-purchase-info">
						<p class="product-price"> @item.ProductPrice <span>lv.</span>
						</p>
						<div class="price-per-kg"></div>
						<form>
							<button class="btn-buy">Add to cart</button>
						</form>
					</div>
				</article>
			</div>
		}
	</div> 
	
</section>