
@{
    ViewData["Title"] = "MainPage";
}
<h1>MainPage</h1>

<ul>
    <li><a asp-area="" asp-controller="Categories" asp-action="Bakery">Bakery</a></li>
    <li><a asp-area="" asp-controller="Categories" asp-action="Fruits_Vegetable">Fruits & Vegetables</a></li>
    <li><a asp-area="" asp-controller="Categories" asp-action="Meat_Fish">Meat & Fish</a></li>
    <li><a asp-area="" asp-controller="Categories" asp-action="Dairy_Eggs">Dairy & Eggs</a></li>
    <li><a asp-area="" asp-controller="Categories" asp-action="Organic_Products">Organic Products</a></li>
    <li><a asp-area="" asp-controller="Categories" asp-action="Frozen_Products">Frozen Products</a></li>
    <li><a asp-area="" asp-controller="Categories" asp-action="Packaged_Products">Packaged Products</a></li>
    <li><a asp-area="" asp-controller="Categories" asp-action="Drinks">Drinks</a></li>
</ul>
